body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: #fff; /* Set your desired background color */
  position: relative; /* Add this line */
}

.content {
  flex: 1;
  /* Add other styles for your content container */
}

.main-footer {
  // text-align: center;
  // background-color: #f0f0f0;
  // padding: 10px 0;
  // margin: 0;
  text-align: center;
  background-color: #f0f0f0;
  padding: 10px 0;
  position: absolute; /* Add this line */
  bottom: 0; /* Add this line */
  width: 100%; /* Add this line */
  margin-bottom: 0px;
}

.disabled{
  pointer-events: none;
  opacity: 0.5;
}

/* Apply CSS to the header-web container to style the header */
.header-web {
  background-color: #333; /* Set your desired background color */
  color: #fff; /* Set your desired text color */
  padding: 10px 0; /* Add padding to space out the content */
  text-align: center; /* Center-align text */
}

/* Style the header-top container to align content at the top */
.header-top {
  // display: flex;
  // justify-content: space-between;
  align-items: flex-start;
  // max-width: 1200px; /* Set your desired maximum width */
  margin: 0 auto; /* Center the header content horizontally */
  padding: 0 20px; /* Add horizontal padding */
}

/* Style the Contact Us and Login links */
.header-top a {
  text-decoration: none;
  color: #fff; /* Text color for the links */
  margin: 0 20px; /* Add spacing between links */
  font-weight: bold; /* Set the font weight to make them stand out */
}

/* Add a hover effect for the links */
.header-top .header-right a:hover {
  text-decoration: underline; /* Underline on hover (optional) */
}

// 
.vertical-center {
  margin: 0;
  position: absolute;
  top: 30%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.horizontal-center {
  margin: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}